<!DOCTYPE html>
<html lang="en">

  <head>
  <!-- head -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <%- include("templates/head") %>
 
  </head>

  <body>

    <!-- Navigation -->
    <%- include("templates/Navigation") %>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">狗傳</h1>
        <div class="reicss profile content">
        
            <div class="ts divider"></div>
        
                <div class="ts secondary message">
                    <div class="header"><h2>關於狗之傳說</h2></div>
                    <p></p>
                
                    <p>在這烏煙瘴氣的世界，從西沙混寶路誕生出了一條狗。</p>

                    <p>將人生經歷的可撥與夢裡迷濛的勝利混合成一碗碗的西沙，靜靜等候尋覓的灰燼來訪。</p>

                    <p>——歡迎來到狗之傳說帝國</p>
                    
                </div>
        
                <div class="ts message">
                    <div class="ts speeches">
                        <div id="ask" class="right pointing speech">
                            
                            <div class="content">
                            <img src="/static/casear.jpg" alt="" width="300">
                               想吃西沙嗎？
                            </div>
                            <div class="middoted meta">
                                <div class="r item"><pre>               所有人都已讀</pre></div>
                            </div>
                        </div>
                        <div id ="ans" class="pointing speech">
                            <div class="content">
                                看在可撥台男的份上，不要已讀好不好QAQ
                                <br/>
                            </div>
                            <div class="middoted meta">
                                <div class="r item"><pre>不要！臭宅滾開</div>
                            </div>
                        </div>
                        <div id="ask2" class="right pointing speech">
                            <div class="content">
                                我畢業於台中高工電子科
                                <br/>
                            </div>
                            <div class="middoted meta">
                                <div class="r item"><pre>那你會電容炸雞排嗎？</div>
                            </div>
                        </div>
                        <div id="ask3" class="right right pointing speech">
                            <div class="content">
                                我畢業於國立雲林科技大學資訊工程系
                                <br/>
                            </div>
                            <div class="middoted meta">
                                <div class="r item"><pre>X!明明就沒畢業再騙阿！</div>
                            </div>
                        </div>
                        <div id="ask4" class="right right pointing speech">
                            <div class="content">
                                我主修計算機科學，擁有強大的演算法能力
                                <br/>
                            </div>
                            <div class="content2">
                                還有一個漂亮的女朋友
                                <br/>
                            </div>
                            <div class="middoted meta">
                                <div class="r item"><pre>以上皆否</div>
                            </div>
                        </div>
                    
                        
                    </div>
                </div>

        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include("templates/footer") %>
   

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>
    <script src="/static/js/reijs.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>




